extends layout.pug

block content
    h2 #{title}
    | #{description}
    br
    p by #{authorName}
    a(href='/topic/create') create &nbsp;
    a(href='/topic/update/' + id) update
    form(action='/topic/delete_process', method='post')
        input(type='hidden', name='id', value=id)
        input(type='submit', value='delete')
