//-layout template 
html
    head
        link(rel='icon', href='data:;base64,iVBORw0KGgo=')
        title WEB1 - #{title}
        meta(charset='utf-8')
    body
        h1
            a(href='/') WEB
        if user
            | #{user.nickname} 
            a(href='/auth/logout') logout
        else 
            a(href='/auth/login') login | 
            a(href='/auth/register') Register
        br
        a(href='/author') author
        ul
            for topic in topics
                li
                    a(href='/topic/page/' + topic.id) #{topic.title}
        block content