//-layout template 
html
    head
        link(rel='icon', href='data:;base64,iVBORw0KGgo=')
        title WEB1 - #{title}
        meta(charset='utf-8')
    body
        h1
            a(href='/') WEB
        if user
            | #{user.nickname} 
            a(href='/auth/logout') Logout
        else 
            a(href='/auth/login') Login | 
            a(href='/auth/register') Register | 
            a(href='/auth/google') Login with Google
        br
        a(href='/author') Author
        ul
            for topic in topics
                li
                    a(href='/topic/page/' + topic.id) #{topic.title}
        block content